/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');




/* wildcard selector to override default styles set by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: white;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
} 
/* header */
header { 
    background-color:olivedrab ;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow:0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between; 
    align-items: baseline; 
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* nav bar styles with dropdown toggle */
nav  {
    position: absolute;
    background-color: olivedrab;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow:0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* main */
main {

    /* make the main content area grow to fill the available space */
    flex: 1 0 auto;
    margin-top: 47px; /* height of the header */
}
/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url('../images/guards.jpg') no-repeat center center/cover; 
    position: relative; 
}
#cover-text {
    /* rgba value for a semi-transparent background */
    background-color: rgba(0, 0, 128, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px ;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* Reasons section */
#reasons {
    background-color:lightblue;
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-physical > div,
#benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url('../images/salute.jpg') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: lightblue;
} 

#social-networks i {
    color: navy;
    font-size: 160%;
    padding: 5%;
}

/* media query for larger screens over 768px */
@media screen and (min-width: 768px) {
    /* styles for larger screens */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content; 
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }   
    .nav-toggle-label{
            display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    } 
    /* main cont */
    main {
    /* push the main content down to make room for the fixed header */  
        margin-top: 79px; /* height of the header */
    }
    /* hero */
    #cover-text {
        width: 300px;
        right: 50px; 
    }

}
@media screen and (min-width: 992px) {
    #menu a:hover { 
        border-bottom: 1px solid #3a3a3a;
    }
}